html, body {
  margin: 0;
  padding: 0; }

/*******Imports*******/
/*******Colors*******/
.container {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.58); }

/*******General*******/
body {
  margin: 0;
  background-color: whitesmoke; }

.container {
  margin: 5px auto 100px auto;
  text-align: center; }

h2 {
  margin: 0 auto;
  padding: 5px 0 5px 0;
  text-align: center;
  font-size: 2em;
  border: 2px solid black;
  max-width: 500px; }

a:focus {
  outline: none; }

/*******Title Section*******/
.title {
  margin: -20px auto 80px auto;
  width: 100%;
  padding: 40px 0 40px 0;
  text-align: center;
  background-color: #e3e3e3; }

.title-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 6em;
  font-weight: 300;
  text-transform: uppercase; }

.math {
  font-weight: 800; }

.logo {
  width: 60px; }

.sub-title {
  width: 100%;
  margin: 15px auto;
  color: #808080;
  font-size: 2em; }

/*******All Calculators*******/
.cal {
  margin: 0 auto 0 auto;
  border: 0px solid transparent; }

.answerbox {
  position: relative;
  margin: 0 auto 0 auto;
  padding-top: 95px;
  height: 275px;
  border: 0px;
  text-align: center;
  font-size: 3.5em;
  color: #f5f5f5;
  background-color: #a9a9a9; }

.answerbox p {
  margin: 0 auto 0 auto; }

fieldset {
  border: 0px; }

.inner-form {
  margin: 0 auto 0 auto;
  font-size: 1.1em; }

/*******Popover*******/
.popover-div {
  position: absolute;
  top: 78%;
  left: calc(95% - 30px);
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 0.5em;
  color: #7f7f7f;
  background-color: #b8b8b8;
  cursor: pointer;
  text-decoration: none;
  opacity: 1; }

.popover-div:focus {
  text-decoration: none; }

.popover {
  position: relative;
  border-radius: 0; }

.fade.in {
  opacity: 1; }

.popover-content {
  background-color: #fff;
  color: #000;
  /*    border: 2px solid black;*/
  border-radius: 0;
  padding: 15px;
  opacity: 1;
  font-size: 20px; }

.popover-div:hover {
  background-color: #c7c7c7;
  text-decoration: none; }

/*******Brew Calculator*******/
#brewCal {
  background-color: #00ced1; }

#brewCalForm {
  background-color: #00ced1;
  font-size: 1.5em;
  border: 0px;
  text-align: center;
  height: 275px;
  padding: 20px 0px 10px 0px;
  margin: 0; }

/*******Extraction Yeild Calculator*******/
#extCal {
  background-color: #dda0dd; }

#extCalForm {
  background-color: #dda0dd;
  font-size: 1.5em;
  border: 0px;
  text-align: center;
  height: 275px;
  padding: 20px 0px 10px 0px;
  margin: 0; }

#extform {
  margin: 0 auto 20px auto;
  padding: 0 0 0 40px; }

/*******Loss Calculator*******/
#lossCal {
  background-color: #00bfff; }

#lossCalForm {
  background-color: #00bfff;
  font-size: 1.5em;
  border: 0px;
  text-align: center;
  height: 275px;
  padding: 20px 0px 10px 0px;
  margin: 0; }

/*******Development Calculator*******/
#devCal {
  background-color: #ff7f50; }

#devCalForm {
  background-color: #ff7f50;
  font-size: 1.5em;
  border: 0px;
  text-align: center;
  height: 275px;
  padding: 20px 0px 10px 0px;
  margin: 0; }

#colontime {
  padding: 0;
  margin: 0; }

#timeform {
  margin: 0 auto 20px auto;
  padding: 0 0 0 30px; }

/*******Media Queries*******/
@media only screen and (max-width: 800px) {
  .sub-title {
    width: 68%; } }
@media only screen and (max-width: 500px) {
  .title-header {
    font-size: 4.5em; } }
@media only screen and (max-width: 400px) {
  .title-header {
    font-size: 3.5em; }

  .sub-title {
    font-size: 1.5em; } }

/*# sourceMappingURL=main.css.map */
