/*******General*******/
html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    margin: 5px auto 100px auto;
    text-align: center;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.58);
    -moz-box-shadow:    4px 4px 8px 0px rgba(0,0,0,0.58);
    box-shadow:         4px 4px 8px 0px rgba(0,0,0,0.58);
}

h2 {
    margin: 0 auto;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size:2em;
    border-top:2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    max-width:500px;
}

/*******Title Section*******/
.title {
    margin: -20px auto 80px auto;
    padding: 40px 0 40px 0;
    text-align: center;
    background-color: #e3e3e3;
}

.title-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    font-weight: 300;
    text-transform: uppercase;
}

.math {
    font-weight: 800;
}

.logo {
    width: 60px;
}

.sub-title {
    width: 100%;
    margin: 15px auto;
    color: grey;
    font-size: 2em;
}

/*******All Calculators*******/
.cal {
    margin: 0 auto 0 auto;
    border:0px solid transparent;
}

.answerbox {
    margin: 0 auto 0 auto;
    padding-top: 95px;
    height: 275px;
    border: 0px;
    text-align: center;
    font-size:3.5em;
    color:whitesmoke;
    background-color: darkgrey;
}

.answerbox p {
    margin: 0 auto 0 auto;
}

fieldset {
    border:0px;
}

.inner-form {
    margin: 0 auto 0 auto;
    font-size: 1.1em;
}

/*******Brew Calculator*******/
#brewCal {
    background-color: darkturquoise;
}

#brewCalForm {
    background-color: darkturquoise;
    font-size:1.5em;
    border: 0px;
    text-align: center;
    height: 275px;
    padding: 20px 0px 10px 0px;
    margin: 0; 
}

/*******Extraction Yeild Calculator*******/
#extCal {
    background-color:plum;
}

#extCalForm {
    background-color:plum;
    font-size:1.5em;
    border: 0px;
    text-align: center;
    height: 275px;
    padding: 20px 0px 10px 0px;
    margin: 0; 
}

#extform {
    margin: 0 auto 20px auto;
    padding: 0 0 0 40px;
    /*background-color:blue;*/
}

/*******Loss Calculator*******/
#lossCal {
    background-color: deepskyblue;
}

#lossCalForm {
    background-color:deepskyblue;
    font-size:1.5em;
    border: 0px;
    text-align: center;
    height: 275px;
    padding: 20px 0px 10px 0px;
    margin: 0; 
}

/*******Development Calculator*******/
#devCal {
    background-color:coral;
}

#devCalForm {
    background-color:coral;
    font-size:1.5em;
    border: 0px;
    text-align: center;
    height: 275px;
    padding: 20px 0px 10px 0px;
    margin: 0; 
}

#colontime {
    padding: 0;
    margin: 0;
}

#timeform {
    margin: 0 auto 20px auto;
    padding: 0 0 0 30px;
}

/*******Media Queries*******/
@media only screen and (max-width: 800px) {
    .sub-title {
        width: 68%;
    }
}

@media only screen and (max-width: 500px) {
    .title-header {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 400px) {
    .title-header {
        font-size: 3.5em;
    }
    .sub-title {
        font-size: 1.5em;
    }
}
