@media only screen and (max-width: 800px) {
    .sub-title {
        width: 68%;
    }
}

@media only screen and (max-width: 500px) {
    .title-header {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 400px) {
    .title-header {
        font-size: 3.5em;
    }
    .sub-title {
        font-size: 1.5em;
    }
}
